html {
  height: 100%;
  width: 100%;
}

p {
  color: blue;
}

h1,
h3 {
  background-color: yellow;
}

/* selektor bliskiego rodzenstwa - Adjacent sibling combinator */
h1+h3 {
  color: red;
}

/* body>h1 {
    color: rgb(48, 211, 62)(0, 255, 21);
} */